/* You can add global styles to this file, and also import other style files */
input {
  border: none;
  border-bottom: 2px solid;
  outline: none;
}

.text-highlight {
  background-color: aquamarine;
}
